:root {
    --color-red-1: hsl(0, 100%, 90%);
    --color-red-2: hsl(0, 100%, 80%);
    --color-red-3: hsl(0, 100%, 70%);
    --color-red-4: hsl(0, 100%, 60%);
    --color-red-5: hsl(0, 100%, 50%);
    --color-red-6: hsl(0, 100%, 40%);
    --color-red-7: hsl(0, 100%, 30%);
    --color-red-8: hsl(0, 100%, 25%);
    --color-red-9: hsl(0, 100%, 20%);
    --color-red-10: hsl(0, 100%, 15%);
    --color-red-11: hsl(0, 100%, 10%);
    --color-red-12: hsl(0, 100%, 5%);

    --color-orange-1: hsl(25, 100%, 90%);
    --color-orange-2: hsl(25, 100%, 80%);
    --color-orange-3: hsl(25, 100%, 70%);
    --color-orange-4: hsl(25, 100%, 60%);
    --color-orange-5: hsl(25, 100%, 50%);
    --color-orange-6: hsl(25, 100%, 40%);
    --color-orange-7: hsl(25, 100%, 30%);
    --color-orange-8: hsl(25, 100%, 25%);
    --color-orange-9: hsl(25, 100%, 20%);
    --color-orange-10: hsl(25, 100%, 15%);
    --color-orange-11: hsl(25, 100%, 10%);
    --color-orange-12: hsl(25, 100%, 5%);

    --color-yellow-1: hsl(50, 100%, 90%);
    --color-yellow-2: hsl(50, 100%, 80%);
    --color-yellow-3: hsl(50, 100%, 70%);
    --color-yellow-4: hsl(50, 100%, 60%);
    --color-yellow-5: hsl(50, 100%, 50%);
    --color-yellow-6: hsl(50, 100%, 40%);
    --color-yellow-7: hsl(50, 100%, 30%);
    --color-yellow-8: hsl(50, 100%, 25%);
    --color-yellow-9: hsl(50, 100%, 20%);
    --color-yellow-10: hsl(50, 100%, 15%);
    --color-yellow-11: hsl(50, 100%, 10%);
    --color-yellow-12: hsl(50, 100%, 5%);

    --color-lime-1: hsl(75, 100%, 90%);
    --color-lime-2: hsl(75, 100%, 80%);
    --color-lime-3: hsl(75, 100%, 70%);
    --color-lime-4: hsl(75, 100%, 60%);
    --color-lime-5: hsl(75, 100%, 50%);
    --color-lime-6: hsl(75, 100%, 40%);
    --color-lime-7: hsl(75, 100%, 30%);
    --color-lime-8: hsl(75, 100%, 25%);
    --color-lime-9: hsl(75, 100%, 20%);
    --color-lime-10: hsl(75, 100%, 15%);
    --color-lime-11: hsl(75, 100%, 10%);
    --color-lime-12: hsl(75, 100%, 5%);

    --color-green-1: hsl(125, 100%, 90%);
    --color-green-2: hsl(125, 100%, 80%);
    --color-green-3: hsl(125, 100%, 70%);
    --color-green-4: hsl(125, 100%, 60%);
    --color-green-5: hsl(125, 100%, 50%);
    --color-green-6: hsl(125, 100%, 40%);
    --color-green-7: hsl(125, 100%, 30%);
    --color-green-8: hsl(125, 100%, 25%);
    --color-green-9: hsl(125, 100%, 20%);
    --color-green-10: hsl(125, 100%, 15%);
    --color-green-11: hsl(125, 100%, 10%);
    --color-green-12: hsl(125, 100%, 5%);

    --color-cyan-1: hsl(175, 100%, 90%);
    --color-cyan-2: hsl(175, 100%, 80%);
    --color-cyan-3: hsl(175, 100%, 70%);
    --color-cyan-4: hsl(175, 100%, 60%);
    --color-cyan-5: hsl(175, 100%, 50%);
    --color-cyan-6: hsl(175, 100%, 40%);
    --color-cyan-7: hsl(175, 100%, 30%);
    --color-cyan-8: hsl(175, 100%, 25%);
    --color-cyan-9: hsl(175, 100%, 20%);
    --color-cyan-10: hsl(175, 100%, 15%);
    --color-cyan-11: hsl(175, 100%, 10%);
    --color-cyan-12: hsl(175, 100%, 5%);

    --color-azure-1: hsl(200, 100%, 90%);
    --color-azure-2: hsl(200, 100%, 80%);
    --color-azure-3: hsl(200, 100%, 70%);
    --color-azure-4: hsl(200, 100%, 60%);
    --color-azure-5: hsl(200, 100%, 50%);
    --color-azure-6: hsl(200, 100%, 40%);
    --color-azure-7: hsl(200, 100%, 30%);
    --color-azure-8: hsl(200, 100%, 25%);
    --color-azure-9: hsl(200, 100%, 20%);
    --color-azure-10: hsl(200, 100%, 15%);
    --color-azure-11: hsl(200, 100%, 10%);
    --color-azure-12: hsl(200, 100%, 5%);

    --color-blue-1: hsl(225, 100%, 90%);
    --color-blue-2: hsl(225, 100%, 80%);
    --color-blue-3: hsl(225, 100%, 70%);
    --color-blue-4: hsl(225, 100%, 60%);
    --color-blue-5: hsl(225, 100%, 50%);
    --color-blue-6: hsl(225, 100%, 40%);
    --color-blue-7: hsl(225, 100%, 30%);
    --color-blue-8: hsl(225, 100%, 25%);
    --color-blue-9: hsl(225, 100%, 20%);
    --color-blue-10: hsl(225, 100%, 15%);
    --color-blue-11: hsl(225, 100%, 10%);
    --color-blue-12: hsl(225, 100%, 5%);

    --color-violet-1: hsl(260, 100%, 90%);
    --color-violet-2: hsl(260, 100%, 80%);
    --color-violet-3: hsl(260, 100%, 70%);
    --color-violet-4: hsl(260, 100%, 60%);
    --color-violet-5: hsl(260, 100%, 50%);
    --color-violet-6: hsl(260, 100%, 40%);
    --color-violet-7: hsl(260, 100%, 30%);
    --color-violet-8: hsl(260, 100%, 25%);
    --color-violet-9: hsl(260, 100%, 20%);
    --color-violet-10: hsl(260, 100%, 15%);
    --color-violet-11: hsl(260, 100%, 10%);
    --color-violet-12: hsl(260, 100%, 5%);

    --color-purple-1: hsl(275, 100%, 90%);
    --color-purple-2: hsl(275, 100%, 80%);
    --color-purple-3: hsl(275, 100%, 70%);
    --color-purple-4: hsl(275, 100%, 60%);
    --color-purple-5: hsl(275, 100%, 50%);
    --color-purple-6: hsl(275, 100%, 40%);
    --color-purple-7: hsl(275, 100%, 30%);
    --color-purple-8: hsl(275, 100%, 25%);
    --color-purple-9: hsl(275, 100%, 20%);
    --color-purple-10: hsl(275, 100%, 15%);
    --color-purple-11: hsl(275, 100%, 10%);
    --color-purple-12: hsl(275, 100%, 5%);

    --color-fuchsia-1: hsl(300, 100%, 90%);
    --color-fuchsia-2: hsl(300, 100%, 80%);
    --color-fuchsia-3: hsl(300, 100%, 70%);
    --color-fuchsia-4: hsl(300, 100%, 60%);
    --color-fuchsia-5: hsl(300, 100%, 50%);
    --color-fuchsia-6: hsl(300, 100%, 40%);
    --color-fuchsia-7: hsl(300, 100%, 30%);
    --color-fuchsia-8: hsl(300, 100%, 25%);
    --color-fuchsia-9: hsl(300, 100%, 20%);
    --color-fuchsia-10: hsl(300, 100%, 15%);
    --color-fuchsia-11: hsl(300, 100%, 10%);
    --color-fuchsia-12: hsl(300, 100%, 5%);

    --color-pink-1: hsl(325, 100%, 90%);
    --color-pink-2: hsl(325, 100%, 80%);
    --color-pink-3: hsl(325, 100%, 70%);
    --color-pink-4: hsl(325, 100%, 60%);
    --color-pink-5: hsl(325, 100%, 50%);
    --color-pink-6: hsl(325, 100%, 40%);
    --color-pink-7: hsl(325, 100%, 30%);
    --color-pink-8: hsl(325, 100%, 25%);
    --color-pink-9: hsl(325, 100%, 20%);
    --color-pink-10: hsl(325, 100%, 15%);
    --color-pink-11: hsl(325, 100%, 10%);
    --color-pink-12: hsl(325, 100%, 5%);
}
