.tweaksy-font {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

.tweaksy-dark {
    background-color: #252525;
    color: #f8f9fa;
}

.tweaksy-light {
    background-color: #e8e8e8;
    color: #212529;
}
